---
export interface Props {
  fotoCowo: string;
  namaCowo: string;
  namaLengkapCowo: string;
  cowoAdalah: string;
  namaAyahCowo: string;
  namaIbuCowo: string;
    fotoBg3: string;
    fotoBg4: string;
    fotoBg5: string;
    fotoBg6: string;
}

const {
  fotoCowo,
  namaCowo,
  namaLengkapCowo,
  cowoAdalah,
  namaAyahCowo,
  namaIbuCowo,
  fotoBg3,
  fotoBg4,
  fotoBg5,
  fotoBg6,
} = Astro.props;
---

<section class="section section__cowo" >
    <div class="slider js-show-on-scroll slide-photo-container-right">
        <img src={fotoCowo} class="slide slide-photo-right" />
        <img src={fotoBg3}  class="slide slide-photo-right" />
        <img src={fotoBg4}  class="slide slide-photo-right" />
        <img src={fotoBg5}  class="slide slide-photo-right" />
        <img src={fotoBg6}  class="slide slide-photo-right" />
    </div>
    <div class="js-show-on-scroll text-container" >
        <p class="font-hw text__title">{namaLengkapCowo}</p>
        <div class="text__paragraph">
            <a href="https://www.instagram.com/fadly4muis_" class="text">@fadly4muis_</a>
        </div>
        <p class="text">{cowoAdalah} dari :</p>
        <p class="text--medium">
            <strong>{namaAyahCowo}</strong> dan <strong>{namaIbuCowo}</strong>
        </p>
    </div>
</section>

<style is:inline>
.slider .slide {
    top:0;
    bottom:0;
 animation: slider 12.5s infinite;
}
 
.slider .slide:nth-child(1) {
   animation-delay: 0s;
    
}

.slider .slide:nth-child(2) {
   animation-delay: -2.5s;
}

.slider .slide:nth-child(3) {
   animation-delay: -5s;
}

.slider .slide:nth-child(4) {
   animation-delay: -7.5s;
}

.slider .slide:nth-child(5) {
   animation-delay: -10s;
}

@keyframes slider {
  0%, 16%, 100% {
    opacity: 1;
    animation-timing-function: ease;
    z-index: 0;
  }
  20% {
    opacity: 0;
    animation-timing-function: step-end;
    z-index: 0;
  }
  96% {
    opacity: 1;
    animation-timing-function: step-end;
    z-index: -1;
  }
}

</style>
