---
export interface Props {
  fotoCewe: string;
  fotoCowo: string;
  fotoBg: string;
  fotoBg2: string;
  fotoBg3: string;
  fotoBg4: string;
  fotoBg5: string;
  fotoBg6: string;
  fotoBg7: string;
  fotoBg8: string;
  fotoBg9: string;
  fotoBg10: string;
  fotoBg11: string;
  fotoBg12: string;
  fotoBg13: string;
  fotoBg14: string;
  fotoBg15: string;
  fotoBg16: string;
  fotoBg17: string;
  fotoBg18: string;
  fotoBg19: string;
  fotoBg20: string;
  fotoBg21: string;
  fotoBg22: string;
  fotoBg23: string;
  fotoBg24: string;
  fotoBg25: string;
  fotoBg26: string;
  fotoBg27: string;
  fotoBg28: string;
  fotoBg29: string;
  fotoBg30: string;
  fotoBg31: string;
  fotoBg32: string;
  fotoBg33: string;
  fotoBg34: string;
  fotoBg35: string;
  fotoBg36: string;
  fotoBg37: string;
  fotoBg38: string;
  fotoBg39: string;
  fotoBg40: string;
  fotoBg41: string;
  fotoBg42: string;
  fotoBg43: string;
  fotoBg44: string;
  fotoBg45: string;
  fotoBg46: string;
}

const {
  fotoCewe,
  fotoCowo,
  fotoBg,
  fotoBg2,
  fotoBg3,
  fotoBg4,
  fotoBg5,
  fotoBg6,
  fotoBg7,
  fotoBg8,
  fotoBg9,
  fotoBg10,
  fotoBg11,
  fotoBg12,
  fotoBg13,
  fotoBg14,
  fotoBg15,
  fotoBg16,
  fotoBg17,
  fotoBg18,
  fotoBg19,
  fotoBg20,
  fotoBg21,
  fotoBg22,
  fotoBg23,
  fotoBg24,
  fotoBg25,
  fotoBg26,
  fotoBg27,
  fotoBg28,
  fotoBg29,
  fotoBg30,
  fotoBg31,
  fotoBg32,
  fotoBg33,
  fotoBg34,
  fotoBg35,
  fotoBg36,
  fotoBg37,
  fotoBg38,
  fotoBg39,
  fotoBg40,
  fotoBg41,
  fotoBg42,
  fotoBg43,
  fotoBg44,
  fotoBg45,
  fotoBg46,
} = Astro.props;
---

<section
  class="w-full flex justify-between items-center z-40 snap-center h-full relative slideshow-container"
>
  <div class="p-6 mx-auto overflow-hidden md:h-2/4 object-center js-show-on-scroll ">
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg2} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg3} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg4} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg5} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg6} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg7} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg8} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg9} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg10} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg11} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg12} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg13} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg14} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg15} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg16} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg17} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg18} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg19} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg20} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg21} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg22} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg23} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg24} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg25} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg26} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg27} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg28} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg29} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg30} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg31} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg32} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg33} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg34} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg35} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg36} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg37} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg38} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg39} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg40} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg41} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg42} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg43} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg44} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg45} class="rounded-md h-full" />
    </div>
    <div class="mySlides fade h-full object-center">
      <img src={fotoBg46} class="rounded-md h-full" />
    </div>
  </div>

  <a class="prev bg-black/20" onclick="plusSlides(-1)">❮</a>
  <a class="next bg-black/20" onclick="plusSlides(1)">❯</a>

  <div
    class="absolute flex justify-center bottom-0 hidden"
    style="text-align:center"
  >
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>
</section>

<style is:inline>
  .mySlides {
    display: none;
  }

  /* Slideshow container */

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,
  .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
</style>
<script is:inline>
  let slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides((slideIndex += n));
  }

  function currentSlide(n) {
    showSlides((slideIndex = n));
  }

  function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("dot");
    if (n > slides.length) {
      slideIndex = 1;
    }
    if (n < 1) {
      slideIndex = slides.length;
    }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " active";
  }
</script>
