---
export interface Props {
    hariAkad: string;
    hariResepsi: string;
    tanggalAkad: string;
    tanggalResepsi: string;
    jamAkad: string;
    jamResepsi: string;
    tempatAkad: string;
    tempatResepsi: string;
    mapAkad: string;
    mapResepsi: string;
    fotoBgEvent: string,
    separator1: string;
    separator2: string;
    separator3: string;
    separator4: string;
}

const {
    hariAkad,
    hariResepsi,
    tanggalAkad,
    tanggalResepsi,
    jamAkad,
    jamResepsi,
    tempatAkad,
    tempatResepsi,
    mapAkad,
    mapResepsi,
    fotoBgEvent,
    separator1, 
    separator2, 
    separator3, 
    separator4 
} = Astro.props;
---

<section
    class="bg-black relative my-32 flex flex-row-reverse items-center justify-around text-center snap-center bg-cover bg-center"
>
    <img
        src={fotoBgEvent}
        class="bg-center object-cover w-full h-full absolute opacity-50"
    />

    <!--<img src={separator3} class="md:w-1/6 w-2/3 mx-auto mb-36 js-show-on-scroll" />-->

    <div class="md:w-2/3 w-full z-40 text-white my-24 p-6 md:p-0">
        <div class="flex justify-center text-6xl mb-24 text-center">
            <p class="font-serif">Wedding</p> 
            <p class="font-hw2 -rotate-[15deg] text-7xl ">Event</p>
        </div>

        <div class="pb-24 text-white">
            <div class="flex justify-around md:w-1/2 w-full mx-auto ">
                <p class="text-2xl" id="day"></p>
                <p class="text-2xl" id="hour"></p>
                <p class="text-2xl" id="minute"></p>
                <p class="text-2xl" id="second"></p>
            </div>
        </div>


        <div class=" flex flex-wrap justify-evenly backdrop-blur-sm bg-slate/30 border rounded-xl bg-black/10  js-show-on-scroll ">
            <!-- Akad -->
            <div class="my-24 lg:w-1/2">
                <p class="text-xl text-white my-3 mb-12 uppercase font-bold flex justify-center">Akad Nikah</p>
                <p class="text-xl ">{hariAkad}, {tanggalAkad}</p>
                <p class="mb-6">Jam {jamAkad}</p>
                <p class="mb-4 px-4 mx-auto lg:w-1/2">Lokasi: {tempatAkad}</p>
                <a
                    target="_blank"
                    class=" w-24 p-3 text-center border-b"
                    href={mapAkad}>Map</a
                >
            </div>
            <span class=" lg:fixed lg:mx-auto border-r sm:block hidden"></span>



            <!-- Resepsi -->
            <div class="my-24 lg:w-1/2">
                <p class="text-xl text-white my-3 mb-12 uppercase font-bold flex justify-center">Resepsi</p>
                <p class="text-xl ">{hariResepsi}, {tanggalResepsi}</p>
                <p class="mb-6">Jam {jamResepsi}</p>
                <p class="mb-4 px-4 mx-auto lg:w-1/2">Lokasi: {tempatResepsi}</p>
                <a
                    target="_blank"
                    class=" w-24 p-3 text-center border-b"
                    href={mapResepsi}>Map</a
                >
            </div>


        </div>

    </div>

</section>

<script is:inline>
// Set the date we're counting down to
var countDownDate = new Date("20 Jan, 2024 10:00:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();
    
  // Find the distance between now and the count down date
  var distance = countDownDate - now;
    
  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
  // If the count down is over, write some text 
  if (distance < 0) {
  var days = Math.floor(distance / (1000 * 60 * 60 * 24) * 0);
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60) * 0);
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60) * 0);
  var seconds = Math.floor((distance % (1000 * 60)) / 1000 * 0);
    clearInterval(x);
//    document.getElementById("demo").innerHTML = "We Married";
  }

  // Output the result in an element with id="demo"
  document.getElementById("day").innerHTML = days + "<br/>" + "<p class='text-xs'>Days";
  document.getElementById("hour").innerHTML = hours + "<br/>" + "<p class='text-xs'>Hours";
  document.getElementById("minute").innerHTML = minutes + "<br/>" + "<p class='text-xs'>Minutes";
  document.getElementById("second").innerHTML = seconds + "<br/>" + "<p class='text-xs'>Seconds";
    
}, 1000);
</script>
